*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.filtere{
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 800px;
    background: rgb(108, 140, 200);
    padding: 25px 30px;
    border-radius: 7px;
    color: white;
}
.filtere header{
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.visMer{
    max-width: 500px;
    width: 100%;
    height: 700px;
    background: rgb(108, 140, 200);
    padding: 25px 30px;
    border-radius: 7px;
    margin-top: 7%;
    font-size: 20px;
}
.farge{
    background: RGB( 96,51,72);
}
.farge label{
    margin-top: 10px;
}
.filtere form .filter-knapper{
    justify-content: space-between;
    place-items: center;
    
}
.form .filter-knapper .dropdown{
    width: calc(100% / 2 - 20px);
}
.filter-knapper .dropdown select{
    height: 32px;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}
.form .filter-knapper .input-box{
    width: calc(100% / 2 - 20px);
}
.filter-knapper .input-box input{
    height: 32px;
    width: 100%;
    font-size: 18px;
}
.filter-knapper .input-box label{
    font-size: 18px;
}
.filter-knapper .dropdown label{
    font-size: 18px;
}
.filter-knapper .filtrer input{
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;   
}

/* Rediger skjema */
.innhold{
    font-size: 20px;
    color: white;
}
.box-rediger input[name="kontaktperson"]{
    width: 60%;
    height: 26px;
    font-size: 18px;
    margin: 10px;
}
.box-rediger input[name="telefon"]{
    width: 30%;
    height: 26px;
    font-size: 18px;
}
.box-rediger input[name="epost"]{
    width: 70%;
    height: 26px;
    font-size: 18px;
    margin: 10px;
}
.box-rediger select[name="vårKontaktperson"]{
    width: 30%;
    height: 26px;
    font-size: 18px;
}
.box-rediger select[name="statusPost"]{
    width: 40%;
    height: 26px;
    font-size: 18px;
    margin: 10px;
}
.box-rediger textarea[name="kommentarPost"]{
    width: 100%;
    height: 100px;
    font-size: 18px;
    margin-top: 10px;
}
.box-rediger select[name="next"]{
    width: 30%;
    height: 26px;
    font-size: 18px;
    margin-bottom: 10px;
}
.tilbake button{
    background-color: rgb(47, 46, 121);
    border: none;
    border-radius: 4px;
    width: 30%;
    height: 40px;
    color: white;
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
}
.box-rediger input[type="submit"]{
    background-color: rgb(47, 46, 121);
    border: none;
    border-radius: 4px;
    width: 30%;
    height: 40px;
    color: white;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
}


