body{
    background-color: #1f2229;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    
}
.box{
    position: absolute;
    padding: 40px;
    width:700px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #292963;
    border-radius: 15px;
}
.box input[type="text"]{
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-size: large;
    
}
.box input[type="submit"]{
    border: 0;
    background: #6CBADC;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: large;
}

.pil{
    height: 50px;
    color:#FFF;
}

